.flightnotes {
  position: sticky;
  bottom: 0;
  border-block-start: 1px solid;
  padding-block-end: 1em;
  display: none;

  &.flightnotes_color {
    background-color: var(--flightnotes-background);
  }

  &.flightnotes_show {
    display: block;
  }
  &.flightnotes_hide {
    display: none;
  }

  .flightnotes_note_show {
    display: block;
    height: auto;
  }
  li.flightnotes_note_show {
    display: list-item;
  }
  .flightnotes_note_hide {
    /* Don't use display: none as it will change the numbering of visible items in ordered list */
    visibility: hidden;
    height: 0;
    content-visibility: auto;
  }
}

/* Syntax specific */
/* Remove notes title, might be set with :before in CSS */
div.footnotes[role='doc-endnotes']:not(.cloned) ol:before {
  content: none;
}
